@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

body {
  margin: 0rem;
  padding: 0rem;
  background-color: #860037;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.form-control {
  position: relative;
  margin: 20px 80px;
  width: 190px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: white;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  color: #fff;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
  color: white;
  transform: translateY(-30px);
}

button {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 10px 30px;
  transition: 0.5s;
  position: relative;
  font-size: 17px;
  background: #333;
  border: none;
  color: #fff;
}

button:hover {
  letter-spacing: 0.25em;
  background: #b00249;
  color: #b00249;
  box-shadow: 0 0 45px #b00249;
}

button::before {
  content: '';
  position: absolute;
  inset: 2px;
  background: #222222;
}

button span {
  position: relative;
  z-index: 1;
}

button i {
  position: absolute;
  inset: 0;
  display: block;
}

button i::before {
  content: '';
  position: absolute;
  border: 2px solid #b00249;
  width: 7px;
  height: 4px;
  top: -3.5px;
  left: 80%;
  background: #222222;
  transform: translateX(-50%);
  transition: 0.5s;
}

button:hover i::before {
  width: 20px;
  left: 20%;
}

button i::after {
  content: '';
  position: absolute;
  border: 2px solid #b00249;
  width: 7px;
  height: 4px;
  bottom: -3.5px;
  left: 20%;
  background: #222222;
  transform: translateX(-50%);
  transition: 0.5s;
}

button:hover i::after {
  width: 20px;
  left: 80%;
}

.selecciones {
  width: 100%;
  display: grid;
  justify-content: space-evenly;
  gap: 1.5625rem;
  grid-template-columns: 200px 200px 200px 200px;
  margin-top: 100px;
  margin-bottom: 300px;
}

.card {
  width: 16.25rem;
  height: 23.125rem;
  border-radius: .625rem;
  background-color: #fff;
  position: relative;
}

.front {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  perspective: 600px;
  transition: .5s;
}

.front>img {
  width: 100%;
  height: 100%;
  border-radius: .625rem;
  object-fit: cover;
  backface-visibility: hidden;
  transform: rotateY(0deg);
  cursor: pointer;
}

.back {
  position: absolute;
  top: 0;
  text-align: center;
  background-color: #fff;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  border-radius: .625rem;
  transition: .5s;
}

.front:hover {
  transform: rotateY(-180deg);
}

.front:hover+.back {
  transform: rotateY(0deg);
}